menu "Configuration"
    
    config PROJECT_BUILD_DEBUG
    bool "Enable debug build features (defines DEBUG macro)"
    default y
    help
        Enables extra debug checks, logging, and defines the C/C++ 
        preprocessor macro 'DEBUG' for conditional compilation.

endmenu